/* usuario */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(assets/img/background/backgroundUsuario.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.logo-user {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100%;
  padding: 10px;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-weight: bold;
  margin: 0;
}

.text {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 20px 0 30px;
}

span {
  font-size: 16px;
}

.social {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password{
  color: #003B71;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
  position: relative;
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 600px;  
}

.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}



.form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  
  
}
#pass {
  align-items: center;
  padding-right: 20px;
}

.olho {
  cursor: pointer;
  bottom: 37px;
  left: 120px;
  position: relative;
  align-items: center;
  width: 20px;
}

label{
  display: none;
}
.entradas{
  font-size: 16px;
  font-weight: bold;
}

.button-form{
  border-radius: 20px;
  border: 1px solid #fff;
  background: #ff445c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  transition: transform 80ms ease-in;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
}

.ghost {
  border-radius: 20px;
  border: 1px solid #fff;
  background: #ff445c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.ghost:active {
  transform: scale(.95);
}

.ghost:focus {
  outline: none;
}

.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all .6s ease-in-out;
  font-size: 25px;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 600ms ease-in-out;
  z-index: 5;
}

.overlay {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(194,26,26,1) 72%);
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 600ms ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 600ms ease-in-out;
  font-size: 50px;
}

.overlay-right {
  right: 0;
  transform: translateY(0);
}

.overlay-left {
  transform: translateY(-20%);
}

/* mover singin para direita */
.container.right-panel-active .sign-in-container {
  transform: translateY(100%);
}

/* Mover overlay para esquerda */
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Trazer login para cadastro */
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Mover overlay frente para tras */
.container.right-panel-active .overlay {
  transform: translateX(50%);
}

/* trazer de tras o texto do meio */
.container.right-panel-active .overlay-left {
  transform: translateY(0);
}

/* mesmo efeito para direita  */
.container.right-panel-active .overlay-right {
  transform: translateY(20%);
}

#fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
}
#fade,#modal{
  transition: .5s;
  opacity: 1;
  pointer-events: all;
}

#modal{
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  width: 500px;
  max-width: 90%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 100 1000 rgba(0, 0, 0, 0.473);

}
.modal-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fechar-modal{
  padding: 10px 10px;
  background-color: #003B71;
  color:#fff;
  border: none;
  border-radius:5px ;
  cursor: pointer;
  font-family: helvetica;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.9;
}
#fechar-modal:hover{
  opacity: 1;
}

#modal.hide, 
#fade.hide{
  opacity: 0;
  pointer-events: none;

}

@media (max-width:970px) {
  body{
    flex-direction: column;
    
  }

  .form-container sign-up-container{
    flex-direction: column;
    
  }
  
  
  .form-container sign-in-container{
    flex-direction: column;
    
  }
  
  
  .overlay-container{
    flex-direction: column;
  }
  
  .olho{
  flex-direction: column;
}


}